doctype html
html
  head
    title Publisher

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css')
    link(rel='stylesheet', href='/assets/css/app.css')
    block header-resources
  body
    div#app
      App

    script(src='/assets/js/app.js')